form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  color: white;
}

input {
  color: black;
  padding: 5px;
  margin-bottom: 15px;
}

.formContainer {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}